body {
  background-color: black;
  text-align: center;
}


/* links */
a {
  font-family: fantasy;
  color: rgb(255, 255, 255);
  text-align: center;
  
}

a :hover{
  color: red;
}
/* h1 Titles */
h1 {
  border: rgb(80, 255, 118) double;
  color: rgb(243, 0, 0);
  padding: 10px;
}
/* links */
li {
  color: rgb(80, 255, 118);
}
/* paragraphs */
p {
  color: black;
}

.myName {
  font-size: 4rem;
}

nav :hover{
  color: rgb(80, 255, 118);

}
.myProjects {
  font-size: 2rem;
}

.aboutMe {
  color:black;
  font-family: cursive;
  font-size: 3rem;
}

#contact {
  margin-right: 2rem;
}

.allLinks {
  font-size: 2rem;
  color: rgb(80, 255, 118);
  background-color: black;
}

.bodyText {
  font-size: 2rem;
  
}

:hover {
  color: rgb(80, 255, 118);
}
